# Hide IDE config files
.vscode
.hintrc

# Hide node_modules
node_modules/

# Hide setup packs
GatorByte-win32-x64/

# Hide logs
logs/*

# Hide machine-specific storage files
src/storage/*
src/storage/config